In [5]:
import csv
import os
# Set floating point presision (% magic)
%precision 2

'%.2f'

In [3]:
os.chdir("/home/genius/Coursera_Python_DS/")

In [6]:
# Read and Create Dictonary from the CSV file
# mpg = milage per gallon

In [8]:
with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
# First 3 elements of list
mpg[:3]

[{'': '1',
  'class': 'compact',
  'cty': '18',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '2',
  'class': 'compact',
  'cty': '21',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '3',
  'class': 'compact',
  'cty': '20',
  'cyl': '4',
  'displ': '2',
  'drv': 'f',
  'fl': 'p',
  'hwy': '31',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m6)',
  'year': '2008'}]

In [9]:
len(mpg)

234

In [14]:
# Look the column name of first record i.e 0
mpg[0].keys()

dict_keys(['', 'drv', 'model', 'trans', 'cyl', 'fl', 'manufacturer', 'hwy', 'class', 'displ', 'cty', 'year'])

In [16]:
# Average city MPG of all cars in CSV file

In [25]:
# Type of all values in mpg is string so we have to convert into float
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

In [26]:
# Avreage highway MPG across all cars in CSV file
sum(float(d['hwy']) for d in mpg) /len(mpg)

23.44

In [27]:
# More complex problem
# Find avg city MPG grouped by the number of cylinder a car has

In [28]:
# First find how many unique cylinder a car has
cylinders = set(d['cyl'] for d in mpg)

In [29]:
cylinders

{'4', '5', '6', '8'}

In [45]:
# Use that Unique Cylinder list to iterate over all row of mpg, if matches then add cty and increase the count of that
# individual cylinder
# Similary do for other Cylinder type
CtyMpgByCyl = []
for c in cylinders:
    summpg = 0
    cyltypecount = 0
    for d in mpg:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cyltypecount += 1
    CtyMpgByCyl.append((c, summpg/cyltypecount))
CtyMpgByCyl.sort(key = lambda x : x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [46]:
# Finding the average highway MPG for different vehical classes
# It is similar to above problem 
# First find unique Classes
# Then iterate each over each row of mpg

In [53]:
Vclasses = set(d['class'] for d in mpg)

In [54]:
Vclasses

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [62]:
HwyMpgByClass = []
for c in Vclasses:
    summpg = 0
    classpercount = 0
    for d in mpg:
        if d['class'] == c:
            summpg += float(d['hwy'])
            classpercount += 1
    HwyMpgByClass.append((c, summpg/classpercount))
HwyMpgByClass.sort(key = lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

# The Python Programming Language: Dates and Times

In [63]:
import datetime as dt
import time as tm

In [64]:
tm.time()

1506249911.72

In [66]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2017, 9, 24, 16, 16, 29, 166019)

In [67]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2017, 9, 24, 16, 16, 29)

In [68]:
# Date time objects allow for simple math using time deltas.
# For instance, here, we can create a time delta of 100 days,
# then do subtraction and comparisons with the date time object. 
# This is commonly used in data science for creating sliding windows. 
# For instance, where you might want to look for any five day span of time where sales were highest,
# and flag that for follow up.

In [69]:
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(100)

In [70]:
today = dt.date.today()

In [71]:
today - delta

datetime.date(2017, 6, 16)

In [72]:
today > today-delta

True

## The Python Programming Language: Object an map()

In [74]:
# some points on class
# 1. Classes in Python are generally named using camel case, which means the first character of each word is capitalized. 
# 2. We can instantiate this class by calling the class name with empty parenthesis behind it. 
# 3. Then we can call functions and print out attributes of the class using the dot notation, common in most languages
# 4. First, objects in Python do not have private or protected members. 
# 5.  If you instantiate an object, you have full access to any of the methods or attributes of that object.
# Second, there's no need for an explicit constructor when creating objects in Python. 
# You can add a constructor if you want to by declaring the __init__ method.

In [73]:
class Person:
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

# map()

In [ ]:
# map function Documents
# map(function, iterable,...)
# Return an iterator that applies function to every item of iterable, yielding the results.
# map(), It's very common in data analysis and cleaning

In [86]:
# Example of map(), with amp we can do in single statement
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
sum(store1), sum(store2)

(35.68, 34.45)

In [79]:
type(cheapest)

map

In [80]:
cheapest

In [84]:
list(map(min, store1, store2))

[9.00, 11.00, 12.34, 2.01]

In [ ]:
# About above result
# Output is odd reference value instead of list of item. 
# This is called lazy evaluation. Python return map object of map funtion
# It doesn't actually try and run the function min on two items, until you look inside for a value.
# This is an interesting design pattern of the language, and it's commonly used when dealing with big data.
# This allows us to have very efficient memory management, even though something might be computationally complex. 
# map() are iterable, just like list and tuples, so we can use a for loop at all of values in the map

In [75]:
# Here is the list of faculty teaching this MOOC. Can you write a function and apply it using 
# map() to get a list of all faculty titles and last name(e.g ['Dr. Brooks', 'Dr.Collins-Thompson', ...])
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

# Advanced Python Lambda and List Comprehensions

In [87]:
# Lambda's are Python's way of creating anonymous functions. It has no name 
# Why we use- simple and short lived 
#

In [88]:
my_fun = lambda a, b, c : a + b

In [90]:
my_fun(3,4,5)

7

In [91]:
# Convert this function into a lambda

In [93]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

# option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))


# option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1],people))

True
True
True
True

True

In [97]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']
for person in people:
    print((lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

Dr. Brooks
Dr. Collins-Thompson
Dr. Vydiswaran
Dr. Romero

In [100]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']
for person in people:
    print((lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

Dr. Brooks
Dr. Collins-Thompson
Dr. Vydiswaran
Dr. Romero

# List Comprehensions

In [129]:
# Python has built in support for creating these collections using a more abbreviated syntax called list comprehensions. 
# List comprehensions provide a concise way to create lists. 
# It is faster

In [106]:
# Some Basic Example
x = [1, 2, 3, 4, 5, 6, 7]
# To multiply each element by 2
new_list = []
for i in x:
    new_list.append(i * 2)
new_list

[2, 4, 6, 8, 10, 12, 14]

In [111]:
# Here comes the magic 
# Table of 2
new_list = [ y * 2 for y in x]
new_list

[2, 4, 6, 8, 10, 12, 14]

# Syntax of List Comprehension

In [112]:
# The syntax for list comprehension is based on set builder notation.
# Given the form [Y for X in LIST], Y is commonly referred to as the output function
# X is the variable, and LIST is the input set. This statement says to do Y on each X in LIST.

In [125]:
# List of even number
even_number = [ number for number in range(0,10) if (number % 2) == 0]

In [126]:
even_number

[0, 2, 4, 6, 8]

In [127]:
odd_number = [ number for number in range(0, 20) if(number % 2 != 0)]

In [128]:
odd_number

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [138]:
def time_table():
    lst = []
    for i in range(10):
        for j in range(10):
            lst.append( i * j )
    return lst
# In lambda function 
#[j*i for i in range(10) for j in range(10)]
time_table()

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 0,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 0,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [139]:
[j*i for i in range(10) for j in range(10)]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 0,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 0,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [140]:
# Harder Lambda Function
# Many organitions have user ids which are constrained in some way. Imagine you work at an Internet service provider 
# and the user ids are all two letters followed by two number(e.g aa49).
# Your task at such organization might be to hold a record on billing activity for each possible user

In [141]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'
correct_answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]

In [144]:
correct_answer[90:120]

['aa90',
 'aa91',
 'aa92',
 'aa93',
 'aa94',
 'aa95',
 'aa96',
 'aa97',
 'aa98',
 'aa99',
 'ab00',
 'ab01',
 'ab02',
 'ab03',
 'ab04',
 'ab05',
 'ab06',
 'ab07',
 'ab08',
 'ab09',
 'ab10',
 'ab11',
 'ab12',
 'ab13',
 'ab14',
 'ab15',
 'ab16',
 'ab17',
 'ab18',
 'ab19']