In [ ]:
# List
#List has Square Bracket and Tuple has circular Bracket and Tuple is unordered and immutable (cant be change)
my_list = ['pop', 'lock', 'drop']
my_tuple = ('pop', 'lock', 'drop')

In [3]:
tup= (1, 2, 3, 4)

In [4]:
for i in tup:
    print(i)

1
2
3
4

In [5]:
# Checkout the methods...
# my_tuple.TAB

In [8]:
#Sets use a pair of curly barcket
#Venn
#Sets are lists but without duplicate entries and unordered.
names = {'Elmer', 'Dylan', 'Jen', 'Guillermo', 'Naomi'}

In [7]:
type(names)

set

In [9]:
empty_set1 = set({1,2,3})

In [10]:
type(empty_set1)

set

In [11]:
empty_set2 = set([1,2,3])

In [12]:
type(empty_set2)

set

In [15]:
empty_set3 = set(1,2,3)  #ending bracket is not curly brackets so we got type error

TypeError: set expected at most 1 arguments, got 3

In [16]:
my_list = [1,2,2,2,2,3,3,3,5,2,2,3]
my_set = set(my_list)

In [17]:
my_list

[1, 2, 2, 2, 2, 3, 3, 3, 5, 2, 2, 3]

In [18]:
my_set

{1, 2, 3, 5}

In [21]:
len(my_set), len(my_list)

(4, 12)

In [22]:
#sets on list of string
peanut = set("My peanut is named Elmer and Elmer is my name".split())

In [24]:
peanut #Notce that My and my are different

{'Elmer', 'My', 'and', 'is', 'my', 'name', 'named', 'peanut'}

In [25]:
#Union
peanut = set("My peanut is named Elmer and Elmer is may name".split())

In [26]:
names = set(['Elmer','Pylam','Jen','Guillermo'])

In [27]:
names.union(peanut) # #Show only unique elements

{'Elmer',
 'Guillermo',
 'Jen',
 'My',
 'Pylam',
 'and',
 'is',
 'may',
 'name',
 'named',
 'peanut'}

In [28]:
peanut.union(names) #Show only unique elements

{'Elmer',
 'Guillermo',
 'Jen',
 'My',
 'Pylam',
 'and',
 'is',
 'may',
 'name',
 'named',
 'peanut'}

In [29]:
#Intersection method intersection()
names.intersection(peanut)

{'Elmer'}

In [30]:
peanut.intersection(names)

{'Elmer'}

In [31]:
#Difference method difference()
# Returns peanut elements minus overlapping name elements
peanut.difference(names)

{'My', 'and', 'is', 'may', 'name', 'named', 'peanut'}

In [32]:
# Returns names elements minus overlapping peanut elements
names.difference(peanut)

{'Guillermo', 'Jen', 'Pylam'}

In [33]:
#Symmetric DifferenceÂ¶
peanut = set("My peanut is named Elmer and Elmer is my name".split())
names = set(['Elmer', 'Dylan', 'Jen', 'Guillermo', 'Naomi'])

In [34]:
# Finds items in only one of the two lists
names.symmetric_difference(peanut)

{'Dylan',
 'Guillermo',
 'Jen',
 'My',
 'Naomi',
 'and',
 'is',
 'my',
 'name',
 'named',
 'peanut'}

In [35]:
peanut.symmetric_difference(names)

{'Dylan',
 'Guillermo',
 'Jen',
 'My',
 'Naomi',
 'and',
 'is',
 'my',
 'name',
 'named',
 'peanut'}

# Dictonary

In [42]:
# Dict         #Basic
# Lets talk curly brackets Note By default Curly Bracket is use for Dictonary, Dictonary is like Structure in C lan
my_set = {"pop", "tart"}
my_dict = {"pop":"tart","pop":"tart"}
empty = {}

In [43]:
type(my_set), type(my_dict), type(empty)

(set, dict, dict)

In [44]:
#Display

In [45]:
hogwarts = {'Hermione':'Gryffindor', 'Hannah':'Hufflepuff', 'Penelope':'Ravenclaw'}

In [47]:
#Both
hogwarts

{'Hannah': 'Hufflepuff', 'Hermione': 'Gryffindor', 'Penelope': 'Ravenclaw'}

In [48]:
hogwarts.items()

dict_items([('Hannah', 'Hufflepuff'), ('Hermione', 'Gryffindor'), ('Penelope', 'Ravenclaw')])

In [49]:
#Keys
hogwarts.keys()

dict_keys(['Hannah', 'Hermione', 'Penelope'])

In [51]:
#Values
hogwarts.values()

dict_values(['Hufflepuff', 'Gryffindor', 'Ravenclaw'])

In [99]:
#Retrive
poke = {'Ivysaur': 89, 'Pikachu': 'eleven', 'Arbok': 14, 'Jigglypuff': 51}

In [53]:
poke.get("Ivysaur")

89

In [56]:
poke['Arbok']

14

In [57]:
poke['Guy']

KeyError: 'Guy'

In [100]:
#Above we got error if key is not found so 
#We use get() method so that it return desire output if element is not found 
#get has two argument1.Key 2.Not found Statements
poke.get('Arbok','Element not found')

14

In [59]:
poke.get("Guy","Element not found")

'Element not found'

# Sort
#Technically it's not possible to sort a dict, only to get a representation of a dict that is sorted.

In [61]:
hogwarts = {'Hermione': 'Gryffindor', 'Hannah': 'Hufflepuff', 'Penelope': 'Ravenclaw'}

In [64]:
# Return keys and values sorted keys
sorted(hogwarts.items())

[('Hannah', 'Hufflepuff'),
 ('Hermione', 'Gryffindor'),
 ('Penelope', 'Ravenclaw')]

In [65]:
## Return sorted keys
sorted(hogwarts.keys())

['Hannah', 'Hermione', 'Penelope']

In [66]:
#Return sorted values
sorted(hogwarts.values())

['Gryffindor', 'Hufflepuff', 'Ravenclaw']

# Insert

In [67]:
poke = {'Ivysaur': 89, 'Pikachu': 'eleven', 'Arbok': 14, 'Jigglypuff': 51}

In [68]:
# Rename or add
poke['Professor X'] = 34
poke['Joker'] = 26

In [69]:
poke

{'Arbok': 14,
 'Ivysaur': 89,
 'Jigglypuff': 51,
 'Joker': 26,
 'Pikachu': 'eleven',
 'Professor X': 34}

In [72]:
#Rename
poke['Arbok'] = 15

In [73]:
poke

{'Arbok': 15,
 'Ivysaur': 89,
 'Jigglypuff': 51,
 'Joker': 26,
 'Pikachu': 'eleven',
 'Professor X': 34}

# Remove

In [74]:
del poke['Arbok']

In [76]:
poke

{'Ivysaur': 89,
 'Jigglypuff': 51,
 'Joker': 26,
 'Pikachu': 'eleven',
 'Professor X': 34}

In [77]:
#Remove All elements
poke.clear()

In [78]:
poke

{}

# Loops

# Basics

In [79]:
hogwarts = {'Hermione':'Gryffindor', 'Hannah':'Hufflepuff', 'Penelope':'Ravenclaw'}

In [80]:
# Iterate keys
for i in hogwarts.keys():  # Same as: for x in example:
    print(i)

Hannah
Hermione
Penelope

In [81]:
# Iterate keys
for i in hogwarts.values():  # Same as: for x in example:
    print(i)

Hufflepuff
Gryffindor
Ravenclaw

In [83]:
# Iterate both
for k, v in hogwarts.items():
    print(k, 'is from', v)

Hannah is from Hufflepuff
Hermione is from Gryffindor
Penelope is from Ravenclaw

# Sort

In [84]:
mydict = {'a': 3, 'b': 2, 'c': 3, 'd': 4}

In [88]:
# keys and values sorted based on their keys
{k: mydict[k] for k in sorted(mydict.keys())[:4]}

{'a': 3, 'b': 2, 'c': 3, 'd': 4}

In [89]:
# keys sorted based on the dict's keys
[k for k in sorted(mydict.keys())[:3]]

['a', 'b', 'c']

In [90]:
# values sorted based on their keys
[mydict[k] for k in sorted(mydict.keys())[:3]]

[3, 2, 3]

# DefaultDict

In [91]:
somedict = {}

In [92]:
somedict[3] # KeyError

KeyError: 3

In [93]:
from collections import defaultdict
someddict = defaultdict(str)  # Try str

In [94]:
someddict[4] # print int(), thus 0

''

In [95]:
someddict

defaultdict(str, {4: ''})